@model IEnumerable<SnappyCart.Models.product>

    @{ ViewBag.Title = "Catalog"; }

    <div style="background-image: url('../../Images/splash.jpg'); margin-left :-15px; height:910px; width: 105%">
        <!--width: 1500px; height: 500px;-->
        <div style="background-color:rgba(255, 255, 255, 0.05);">
            <div style="background-color:rgba(255, 255, 255, 0.05);">
                @foreach(var item in Model)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm col-md-4">
                            <div class="col-md-4">
                                IMAGE
                            </div>
                            <div class="col-md-4">
                                <b>@item.ProductName</b>
                                <br />
                                @item.ProductDescription
                            </div>
                            <div class="col-md-4">
                                @item.ProductPrice
                            </div>

                            <!-- Turn this back into a button -->
                            @Html.ActionLink("add to cart","AddToShoppingCart","Shopping", new { ID = item.ProductID}, "")

                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
