@{
    ViewBag.Title = "testing Page";
}



<!-- Step 1
    DB
    Model what the DB should look like.
    HINT: You need to create 3 seperate tables (Don't be afraid to google)
    If you don't know how to use primary/foriegn keys. I can step through that with you next session.

    Explain: Columns needed and primary/foriegn keys

    Table 1: Users 
    Table 2: UserShoppingCart
    Table 3: Items for SnappyCart

-->

<!-- Step 2 
    Display the website
    - Login Page
    - Default/Index page (Current items in shopping Cart)
    - Shopping Page (3 items) 
    - Users Page (Not necessary)
-->

<!-- Step 3
    Adding the DB items to your View/Controller
-->



@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@