@{
    
        ViewBag.Title = "Login";

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <h1> put login row here</h1>

    </div>
</body>
</html>
