@model  SnappyCart.Models.UserProducts
@*@model IEnumerable<SnappyCart.Models.UserProducts>*@


@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
 
     @*@if (Model.count() == 0)
     {
 <div> Your cart is empty</div>
         }*@
     

@*<div>

        @foreach (var item in Model)
        {
            @Html.DisplayTextFor(modelItem => item.productId)
            <span>•</span>
        }
    </div>*@
