@Model SnappyCart.Models.Users
@{
    ViewBag.Title = "index";
}



<h2>index User Profile</h2>

@* user name
    first name
     last name
     userID?
     products ordered in the past
     current products in cart?
     change password and confirm password

*@
<div class="container">
    <div class="userProfile">
        @Html.LabelFor(a => a.LastName)
        @Html.TextBoxFor(a => a.LastName)

        h4> User Name: </h4>
        <br />
        <h4> First Name: </h4>
        <br />
        <h4> UserID: </h4>
    </div>
</div>
