
@model IEnumerable<SnappyCart.Models.userProduct>


@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>

@if (Model == null)
{
    <div> Your cart is empty</div>
}
else
{
    
<div>
    @*UserID,b.ProductID,OrderDate,ProductName, ProductDescription, ProductPrice*@
    <table class="table">

        @foreach (var item in Model)
        {
            @Html.DisplayTextFor(modelItem => item)
            <span>•</span>
        }
    </table>
</div>
    <div>

    </div>



}



